body{
    background: linear-gradient(to left top, blue, red);
    
    
}
.App{
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    min-height: 100vmin;
    width: 100vw;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    
}

.Form{
    height: 50px;
}

.Card {
    border-radius: 5px;
    background-color:#f2f8fa;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    min-height: 1vmin;
    width: 100vw;
    font-family: sans-serif;
    margin: auto;
    font-size: 10px;
  
    
}


.Footer{
    
    margin-left:50px;
    height:40px;
    background-color: #f2f8fa;
    position: fixed;
    bottom: 0;
    width: 1000px ;
    
}

img {
    width:100%;  
}


.FooterImage{ 
    
    height: 30px;
    width:30px;
    float:left;
}

